/* Add CSS Styling */
.first-button {
    background-color: hsl(150, 100%, 0%);
}
.second-button {
    background: color #ffff00;
}
.first-button.second-button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}