/* Add CSS Styling */
.first-button, .second-button{
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}
.first-button {
    background-color: hsl(150, 100%, 0%);
    color: rgb(255,255,255) ;
}
.second-button {
    background-color: #ffff00;
}
